<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addAdmin.css">
    <title>Add Admin</title>
</head>
<body>
    <div class="container">
            <div class="item">
              <h2 id="logo">Global</h2>
              <p id="pLogo">Connect</p>
        <ul>
            <li>
               <div class="aTag"> <a class="menuList" href="/homepage">Home</a> </div>
            </li>
            <li>
                <div class="aTag"><a class="menuList" href="/admin">Admin</a></div>
            </li>
            <li>
                <div class="aTag"><a class="menuList" href="/vendor">Vendor</a></div>
            </li>
            <li>
                <div class="aTag"><a class="menuList" href="/user">User</a></div>
            </li>
            <li>
                <div class="aTag"><a class="menuList" href="/product">Product</a></div>
            </li>
            <li>
                <div class="aTag"><a class="menuList" href="/ad">Ad</a></div>
            </li>
        </ul>
        </div>
        <div class="body">
            <header>
                    <h2>Global Connect</h2>
                   <button id="logBtn">logout</button>
            </header>

           <div class="lab">
                 <h3 id="h3Tag">Add Admin</h3>         
                 <br>
                 <label>Name</label>
                 <input type="text" placeholder="Name">
                 <br>
                 <label>Email</label>
                 <input type="text" placeholder="email">
                 <br>
                 <label>Password</label>
                 <input type="password" placeholder="Password" id="psw">
                 <br>
                 <button class="cBtn" id="createBtn">Create</button>
                 <button class="cBtn" id="resetBtn">Reset</button>
           </div>
        </div>
    </div>
</body>
</html>