<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <script src="/js/jquery-3.6.1.js"></script>
  <script src="/js/login.js"></script>
  <link rel="stylesheet" href="/css/login.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="bg"></div>

  <form>
    <div class="form-field">
      <input id="name" type="email" placeholder="Email / Username" required />
    </div>

    <div class="form-field">
      <input id="psw" type="password" placeholder="Password" required />
    </div>

    <div class="form-field">
      <button class="btn" type="submit" id="loginBtn">Log in</button>
    </div>
  </form>
  <!-- partial -->

</body>

</html>