<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/jquery-3.6.1.js"></script>
<script src="/js/registration.js"></script>
<link rel="stylesheet" href="/css/registration.css">
</head>
<body>

<form id="regform">
  <div class="container">
    <h1>Register</h1>
    
    <label for="userName"><b>User Name : </b></label>
    <input type="text" placeholder="Enter UserName" name="name" id="name">
    <br>
    <label for="psw"><b>Password : </b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw">
    <br>
    <label for="psw-repeat"><b>Re-enter Password : </b></label>
    <input type="password" placeholder="Re-Enter Password" name="psw-repeat" id="psw-repeat">
     <br>
    <button type="submit" class="registerbtn">Register</button>
    <br>
       <a id="aTag">Back To Login Page</a>
  </div>
  
</form>
</body>
</html>
