*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.item{
    width: 20%;
    background-color: #121227;

}

#logo{
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
    padding: 5px;
    background-color: #000;
}

#pLogo{
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    padding-top: 0px;
    background-color: #000;
}


.item a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.item a:hover{
    background-color: red;
    transition: 0.5s;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.body{
    width:100%;
    background-image: url(/img/homebg.jpg);
    filter: blur(0px);
    background-size: 1160px 700px;
    background-position: center;
    background-repeat: no-repeat;  
}

.body h2{
    display: inline-block;
    margin-top: 0px;
    color: rgb(73, 6, 67);
    letter-spacing: 4px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#logBtn{
    float: right;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 17px;
    margin-right: 0;
    margin-left: auto;
    margin-top: 1px;
    background-color: rgb(0, 255, 149);
    border-color: aqua;
    border-style: groove;
}

#logBtn:hover{
    background-color: rgb(160, 160, 216);
    transition: 0.5s;
}

header{
    background-color: rgb(52, 213, 225);
}

#h2Tag{
    font-size: 30px;
    font-style: normal;
    padding: auto;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 200px;   
    color: rgb(0, 6, 14); 
}

