*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.item{
    width: 20%;
    background-color: #121227;

}

#logo{
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
    padding: 5px;
    background-color: #000;
}

#pLogo{
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    padding-top: 0px;
    background-color: #000;
}


.item a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.item a:hover{
    background-color: red;
    transition: 0.5s;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.body{
    width:100%;
    background-image: url(/img/img5.jpg);
    filter: blur(0px);
    background-size: 1200px 700px;
    background-position: center;
    background-repeat: no-repeat;   
}

.body h2{
    display: inline-block;
    margin-top: 0px;
    color:rgb(73, 6, 67);
    letter-spacing: 4px;
    padding: 20px;
}

#logBtn{
    float: right;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 17px;
    margin-right: 0;
    margin-left: auto;
    margin-top: 1px;
    background-color: rgb(0, 255, 149);
    border-color: aqua;
    border-style: groove;
}

#logBtn:hover{
    background-color: rgb(160, 160, 216);
    transition: 0.5s;
}

header{
    background-color:  rgb(52, 213, 225);
}

.btn{
    padding: 12px;
    margin-right: 20px;
    width: 100px;
    background-color: rgb(101, 101, 228);
    font-size: 20px;
    border-color: green;
    border-style: groove;
    color: #fff;
}

.btn:hover{
    background-color: rgb(76, 197, 177);
}

#searchBtn{
    padding: 15px;
    float: left;
    margin-left: 100px;
    width: 300px;
    padding-right: 9px;

}

#adminTable{
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 80%;
    font-weight: bold;
}

#adminTable td, #adminTable th{
    border: 1px solid #ddd;
    padding: 8px;
}

#adminTable tr:nth-child(even){
    background-color: #b56161;
}

#adminTable tr:hover{
    background-color: #ddd;
}

#adminTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04aa6d;
    color: white;
}

table{
    position: relative;
    left: 10%;
    top: 20%;
}

.navBtn{
    background-color: rgb(70, 206, 215);
    color: white;
    font-size: 20px;
    border-color: rgb(143, 234, 143);
    border-style: groove;
    margin-right: 30px;
    position: relative;
    top: 200px;
    left: 300px;
    text-align: center;
    padding: 8px;
    width: 100px;
}

.navBtn:hover{
    background-color: #04aa6d;
}
