body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(155, 6, 6);
  margin: 80px 80px 80px 80px;
  background-color: white;
}

* {
  box-sizing:border-box;
}

/* Add padding to containers */
.container {
  padding: 80px;
  background-image: url("/img/img03.jpg");
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(0px);
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 40%;
  padding: 18px;
  margin-left: 100px;
  margin-bottom: 30px;
  align-items: center;
  display:inline-block;
  border: none;
  background: #e9dbdb;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #bb0a0a;
  color: white;
  padding: 10px 20px;
  align-content: center;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  margin-left: 200px;
}

.registerbtn:hover {
  opacity: 1;
  color: aqua;
}


#aTag{
     size: 12px;
     margin-right: 40%;
     margin-left: 45%;
     color: #bb0a0a;
     cursor: pointer;
}

#aTag:hover{
  text-decoration: underline;
}

#psw-repeat{
    margin-left: 38px;
}

#psw{
    margin-left: 108px;
}